<div class="container column">



  <img src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="">

  <section class="profile">
    <h2>Profilo</h2>
    <article>{{"test"}}
    </article>
  </section>


  <section class="interests">
    <h2>profilo</h2>
    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit vitae reiciendis voluptatibus atque, eaque
      neque, fugiat unde laborum natus veritatis mollitia totam, eum odio dolorum autem culpa aliquid quo veniam?
    </article>
  </section>

  <section class="contacts">
    <h2>profilo</h2>
    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit vitae reiciendis voluptatibus atque, eaque
      neque, fugiat unde laborum natus veritatis mollitia totam, eum odio dolorum autem culpa aliquid quo veniam?
    </article>
  </section>

</div>
