<div class="container column">
  <ng-container *ngIf="leftColumn">
    <img
      src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg"
      alt=""
    />

    <!-- <section class="profile">
    <h2>{{data.profileSection.title}} </h2>
    <article>
      {{data.profileSection.body}}
    </article>
  </section>
  <section class="interests">
    <h2>{{data.interestSection.title}}</h2>
    <article>
      <ul>
        <li *ngFor="let item of data.interestSection.body">{{item}}</li>
      </ul>
    </article>
  </section>
  <section class="contacts">
    <h2>{{data.contactSection.title}} </h2>
    <article>
     <ul>
      <li *ngFor="let item of data.contactSection.body">
        <ng-container *ngFor="let field of item | keyvalue">
          {{field.key}}: <ng-container {{fiel.key === "mail" ? i : noLinkItem}}>{{field.value}}</ng-container>
        </ng-container>
      </li>
     </ul>
    </article>
  </section> -->

    <ng-container *ngFor="let item of allSection">
      <section class="{{ item.key }}">
        <h2>{{ item.value.title }}</h2>
        <article>
          <ng-container *ngIf="!item.isArray; else arrayTemplate">
            {{ item.value.body }}
          </ng-container>

          <ng-template #arrayTemplate>
            <!-- <ul >
              <li  *ngFor="let item of item.value. | keyvalue">

                {{item.key| toString}}

              </li>
            </ul> -->
          </ng-template>
        </article>
      </section>
    </ng-container>
  </ng-container>

  <!-- <ng-container *ngFor="let field of data | keyvalue">
  <section class="{{field.key}}">
    <h2>{{field.value | json}} </h2>
    <ng-container *ngFor="let innerField of field | keyvalue">
      {{innerField.value}}
    </ng-container>
  </section>
</ng-container> -->
</div>
